body,
html {
	margin:0;
	padding:0;
}
body {
	min-width:600px;
	width:100%;
}
#wrap {
	width: 960px;
	margin: 0 auto;
}
#control {
	padding-top: 1em;
}
#head {
	float: left;
    padding-top: 1em;
}
#menu {
	float:right;
	padding-top: 2.9em;
	overflow: visible;
}
ul.menu,
ul.pager {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	list-style-type: none;
	list-style-image: none;
	vertical-align: baseline;
}
ul.menu li,
ul.pager li {
	display: block;
}
ul.horizontal {
	padding-top: 17px;
	margin-bottom: -1px;
}
ul.horizontal li {
	float: left;
	margin-left: 10px;
}
ul.horizontal li a,
ul.options li a,
ul.pager li a {
	display: block;
	padding: 5px 12px;
}
ul.options {
	float: right;
	width: auto;
}
ul.vertical {
	padding-top: 1em;
}
ul.vertical li a {
	display: block;
	padding: 2px 0;
}
ul.vertical li ul {
	display: none;
	padding-left: 1em;
}
ul.vertical li.selected ul,
ul.vertical li.child-selected ul {
	display: block;
}
ul.pager {
	width: 200px;
	float: right;
}
ul.pager li {
	float: right;
	margin-left:3px;
}
ul.pager li a {
	padding:4px 4px 3px;
}
div.mask {
	padding-top: 3px;
	padding-bottom: 1em;
}
div.mask,
div#foot {
	clear:both;
	float:left;
	overflow:hidden;
	position:relative;
	width:100%;
}
div.cols {
	right:75%;
	float:left;
	position:relative;
	width:100%;
}
div.cols div.main,
div.cols div.side {
	float: left;
	overflow: hidden;
	padding:0 0 1em;
	position: relative;
}
div.cols div.main {
	left:102%;
	width:73%;
}
div.cols div.side {
	left:6%;
	width:21%;
}
div.cols div.cols {
	right: 0;
	float: none;
	overflow: hidden;
}
div.cols div.cols div.main {
	left: 0;
	width:65%;
}
div.cols div.cols div.side {
	left: 2%;
	width: 32%;
}
div.main {
	min-height: 350px;
}
div.side h3.title {
	margin: 0;
	padding: 1em 0 0 0;
}
div#foot {
	padding-top: 1em;
}
span.footer {
	display: block;
	padding-top: 5px;
}
div.article .content {
	display: block;
	width: 100%;
	overflow:hidden;
}
div.article .label,
div.article .user,
div.article .date,
div.article .link {
	display: inline-block;
	padding: 5px 10px 0 0;
}
.notitle {
	padding-top: 15px;
}
.notitle h2.title {
	display: none;
}
div.comment,
div.addcomment {
	width: 100%;
	overflow: hidden;
	padding-bottom: 10px;
}
div.comment a.user {
	display: block;
	float: left;
}
div.comment h4 {
	margin: 0;
	padding: 0;
}
div.comment h4,
div.comment .content,
div.comment .date {
	margin-left: 45px;
}
div.comment .content {
	padding: 5px 0;
}
div.comment .date {
	display: block;
}
div.addcomment input,
div.addcomment textarea {
	float: left;
	padding: 3px;
}
div.addcomment textarea {
	width: 79%;
	margin-right: 10px;
}
div.department,
div.product {
	width: 560px;
	overflow: hidden;
	padding-left: 120px;
	padding-top: 1em;
}
div.department a.title h2 {
	margin-top: 0;
}
div.department a.image,
div.product a.image {
	display: block;
	float: left;
}
div.department a.image,
div.product a.image ,
div.product h2 {
	margin-left: -80px;
}
div.product .description {
	padding-bottom: 0.5em;
}
div.product span,
div.product a.permalink,
div.product a.cart {
	display: inline-block;
}
div.product span.label {
	font-weight: bold;
}
div.product span.sku {
	padding-right: 1em;
}
div.product span.stock {
	padding: 0 1em 0 0.5em;
}
div.product a.permalink,
div.product a.cart {
	padding: 0 1em 0 1em;
}
div.photos,
div.products{
	width: 95%;
	overflow: hidden;
	padding: 2%;
	margin-top: 1.5em;
}
div.products .product,
div.photos .photo {
	width: 34%;
	float: left;
	padding: 7px 7px 7px 13%;
	margin-bottom: 12px;
}
div.products .even,
div.photos .odd {
	margin-left: 2%;
}
div.products .product {
    height: 100px;
}
div.photos div.photo a.image {
	margin-left: -80px;
	display: block;
	float: left;
	padding: 5px;
}
div.photos div.photo a.image img {
	width: 60px;   
}
div.photos div.photo h2 {
	font-size: 0.9em;
}
div.photo {
	
}
div.photo a.title h2 {
	margin-top: 0;
	margin-bottom: 5px;
}
div.photo span {
	display: inline-block;
	padding-right: 5px;
}
div.photo span.description {
	display: block;
	padding-right: 0;
}
div.photo .label {
}
div.event span {
	display: inline-block;
	width: 80%;
}
div.event .description {
	padding-top: 1em;
}
div.event span.label {
	width: 20%;    
}
div.slider {
	margin-top: 1.5em;
}
.form {
	width: 100%;
	margin: 0;
	padding: 1em 0 0 0;
}
.details div {
    width: 100%;
    overflow: hidden;
}
.details label {
    width: 150px;
    float: left;
}

.form .h {
	height: 25px;
}
.form .h input {
	height: 18px;
	padding-left: 5px;
	padding-top: 2px;
}
.form textarea {
	height: 160px;
	margin-bottom:11px;
	overflow: auto;
	padding-left:5px;
}
.form .b {
	width: 100%;
	overflow: hidden;
}
.form .c {
	padding-right: 8%;
	height: 2em;
}
.form .c a {
	display: block;
	float: right;
	margin-left: 20px;
	padding: 5px 10px;
}
