<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>WebMatrix Demo 1</title>
    </head>
    <body>        
        <p>Quare attende, quaeso. Esse enim, nisi eris, non potes. <mark>Praeclarae mortes sunt imperatoriae;</mark> Quid ei reliquisti, nisi te, quoquo modo loqueretur, intellegere, quid diceret? Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus; Restinguet citius, si ardentem acceperit. Sin laboramus, quis est, qui alienae modum statuat industriae? Sed fac ista esse non inportuna; <b>Id mihi magnum videtur.</b> </p>
        
        <ul>
            <li>Quid ergo attinet gloriose loqui, nisi constanter loquare?</li>
            <li>Satisne vobis videor pro meo iure in vestris auribus commentatus?</li>
            <li>Non enim, si omnia non sequebatur, idcirco non erat ortus illinc.</li>
            <li>Nunc omni virtuti vitium contrario nomine opponitur.</li>
        </ul>
    </body>
</html>
