@{
    var items = new[] { "Clients", "Employees", "Teams", "Projects", "Reports" };
}
<ul class="menu horizontal">
	@foreach( var item in items){
        <li>
            <a href="/@item.Replace(" ", "-").ToLower()" title="@item">@item</a>
        </li>
    }
</ul>
