<ul>
	<li>Duarum enim vitarum nobis erunt instituta capienda.</li>
	<li>In ipsa enim parum magna vis inest, ut quam optime se habere possit, si nulla cultura adhibeatur.</li>
	<li>Paulum, cum regem Persem captum adduceret, eodem flumine invectio?</li>
	<li>Quod est, ut dixi, habere ea, quae secundum naturam sint, vel omnia vel plurima et maxima.</li>
	<li>Satisne vobis videor pro meo iure in vestris auribus commentatus?</li>
	<li>Ergo hoc quidem apparet, nos ad agendum esse natos.</li>
</ul>