@{
    @* Create an array of strings *@
    var items = new[] { 
        "Quid ergo attinet gloriose loqui, nisi constanter loquare?", 
        "Satisne vobis videor pro meo iure in vestris auribus commentatus?",
        "Non enim, si omnia non sequebatur, idcirco non erat ortus illinc.",
        "Nunc omni virtuti vitium contrario nomine opponitur."
    };
    Page.Title = "The For Loop";
}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@Page.Title</title>
    </head>
    <body>
       <h1>@Page.Title</h1>
     
        <p>The list below has @items.Length items.</p>
        
        <ul>
            @for(int i = 0; i < items.Length; i++) {
                <li>@items[i]</li>
            }
        </ul>
    </body>
</html>
